nav {
    color: #7B829A;
}

body {
    background-color: #E99453;
}

/* Austin's Executive Summary css */

/* Dan's Career css */
h3 {
    display: flex;
    justify-content: center;
    background-color: #8A8FA5;
}

.career_LarryHeads {
    display: flex;
    justify-content: space-evenly;
    /* background-color: #8A8FA5; */
}

.list_Skills {
    display: flex;
    list-style-type: none ;
    justify-content: space-evenly;
}
.list_PlacesLived {
    display: flex;
    list-style-type: none ;
    justify-content: space-evenly;
}

.list_Collaborators {
    display: flex;
    list-style-type: none ;
    justify-content: space-evenly;
}

.career_CollabPics {
    display: flex;
    justify-content: space-evenly;
}

.career_Jerry, .career_Julia, .career_Cheryl, .career_Jeff, .career_Brooklyn, .career_CollegePark, .career_Manhattan {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Hannah's Personal css */

body {
    background-color: #F6F6F4;
    color: white;
}

.personal-header-section {
    background-color: #EFB74F;
    display: flex;
    align-items: center;
    width: 100%;
    height: 500px;
    border: 5px solid white;
    font-size: 65px;
}

/* Begin About Section Parent */

.personal-about-section {
    display: flex;
    /* justify-content: space-between; */
    background-color: #F6F6F4;
    border-width: 5px;

}

/* End About Section Parent */

.personal-header-items {
    text-align: center;
    border-color: #F6F6F4;
}

.personal-list-from {
    text-align: center;
    background-color: #312F37;
    height: 300px;
}

.personal-list-from:hover {
    box-shadow: inset 0 0 0 5px #8a8fa5;
}

.personal-list-residence {
    text-align: center;
    background-color: #312F37;
    height: 300px;
}

.personal-list-residence:hover {
    box-shadow: inset 0 0 0 5px #8a8fa5;
}

.personal-family-menu {
    text-align: center;
    background-color: #312F37;
    height: 300px;

}

.personal-family-menu ul {
    list-style-type: none;
}

.personal-family-menu:hover {
    background-color: #312F37;
    box-shadow: inset 0 0 0 5px #8a8fa5;
    display: flex; 
    box-shadow: 1px 2px 3px black;
}

.laurie {

}

.cazzie {

}

.romy {
    
}



/* Anupuma's NewsFeed css */
