/* Hannah's CSS */

<<<<<<< HEAD
.topnav nav {
    display: flex;
    justify-content: space-evenly;
}

.larryHeader, .executive-summary-main  {
    display: flex;
    justify-content: space-between;
}

=======
>>>>>>> master
