nav {
    color: #7B829A;
    display: flex;
    justify-content: space-evenly;
}

body {
    background-color: #E6DFB9;
    font-family: 'Roboto', sans-serif;
    background-color: #E6DFB9;
}

.social-links {
    display: flex;
    justify-content: space-between;
    justify-content: baseline;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.larryHeader, .larryHeader > h1 {
    display: flex;
    justify-content: center;
    text-decoration: none;
}



/* Austin's Executive Summary css */

.executive-summary-main > h2 {
    margin-top: 5%;
    margin-botton
}

a {
    text-decoration: none;
    color: black;
}

.collabHead {
    background-color: white;
}

.executive-summary-main {
    display: flex;
    flex-direction: column; 
    align-items: center;
}

.larryFace {
    width: 33%;
}

.collab-imgs {
display: flex;
justify-content: space-evenly;
flex-wrap: wrap;
}

.collab-imgs img{
    width: 10%;
    height: 10%;
    margin-bottom: 5%;
}

@media only screen and (min-width: 600px) {
    .collab-imgs {
        margin-left: 15%;
        margin-right: 15%;
    }

    .social-links {
        display: flex;
        justify-content: space-between;
        justify-content: baseline;
        margin-left: 33%;
        margin-right: 33%;
        margin-top: 5%;
    }
}

.collaborators {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 10px 10px 8px #888888;
    border: #888888 solid 1px;
    margin-left: 15%;
    margin-right: 15%;
    background-color: white;
}
/* Dan's Career css */
h3 {
    display: flex;
    justify-content: center;
    background-color: #8A8FA5;
}


h5 {
    background-color: #CA674D;
}

.career_LarryHeads {
    display: flex;
    justify-content: space-evenly;
    /* background-color: #8A8FA5; */
}

.list_Skills {
    display: flex;
    list-style-type: none ;
    justify-content: space-evenly;
}
.list_PlacesLived {
    display: flex;
    list-style-type: none ;
    justify-content: space-evenly;
}

.list_Collaborators {
    display: flex;
    list-style-type: none ;
    justify-content: space-evenly;
}

.career_CollabPics {
    display: flex;
    justify-content: space-evenly;
}

.career_Jerry, .career_Julia, .career_Cheryl, .career_Jeff, .career_Brooklyn, .career_CollegePark, .career_Manhattan {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Hannah's Personal css */

body {
    background-color: #F6F6F4;
    color: white;
}

.personal-header-section {
    background-color: #EFB74F;
    display: flex;
    align-items: center;
    width: 100%;
    height: 400px;
    border: 5px solid white;
    font-size: 65px;
}

/* Begin About Section Parent */

.personal-about-section {
    display: flex;

    align-items: flex-start;
    background-color: #F6F6F4;
    border-width: 5px;
    width: 100%;
    

}

/* End About Section Parent */

.personal-header-items {
    text-align: center;
    border-color: #F6F6F4;
}

/* .personal-about-section {
    display: flex;
    flex-flow: row nowrap;

} */

.personal-list-from {
    text-align: center;
    background-color: #312F37;
    height: 425px;
    width: 33%;
}

.personal-list-from:hover {
    box-shadow: inset 0 0 0 5px #8a8fa5;
}

.personal-list-residence {
    text-align: center;
    background-color: #312F37;
    height: 425px;
    width: 33%;
}

.personal-list-residence:hover {
    box-shadow: inset 0 0 0 5px #8a8fa5;
}

/* Family Portion of Menu */

.personal-family-menu {
    text-align: center;
    background-color: #312F37;
    height: 425px;
    list-style-type: none;
    cursor: pointer;
    box-shadow: 1px 2px 3px black;
    width: 100%;
}

.personal-family-menu ul {
    list-style-type: none;
}

.personal-family-menu label {
    display: inline;
    cursor: pointer;
    padding: 0px 5px 5px 50px;   
}

input#menu {

}

input:checked +label {
}

.personal-family-content {
    overflow: hidden;
}

input:checked ~ label {
    background-image: url(close.png);
}

input:checked ~ .personal-family-content {
    max-height: 100%;
}

.personal-family-menu:hover {
    background-color: #312F37;
    box-shadow: inset 0 0 0 5px #8a8fa5;
    display: flex; 
    box-shadow: 1px 2px 3px black;
}

/* Anupuma's NewsFeed css */
.newsfeed-flex-container{
    display: flex;
    justify-content: space-between;
    border: 1rem;
    border-color: black;

}

.newsfeed-p{
    color: black;
}

.newsfeed-title{
    color: black;
    background-color:rgb(159, 163, 180);
    padding: .5em;
    box-shadow: 0 8px 6px -6px black;
}
.newsfeed-div{
    background-color: lightgrey;
}
.newsfeed-flex-item{
    padding: 1rem;
}
.newsfeed-h3{
    padding-top: 1rem;
    padding-left: 1rem;
    padding-bottom:1rem; 
    box-shadow: 0 8px 6px -6px black;
}
.newsfeed-body{
    background-color:whitesmoke;
}
.newsfeed-img{
    height: 300px;
    width: 450px;
    box-shadow: 0 8px 6px -6px black;
        

}
.newsfeed-b{
    color:blue;
}
.newsfeed-iframe{
    box-shadow: 0 8px 6px -6px black;
}