.flex-container{
    display: flex;
    justify-content: space-between;
    border: 1rem;
    border-color: black;

}

p{
    color: black;
}

.title{
    color: black;
    background-color: grey;
    padding: .5em;
}
.div{
    background-color: lightgrey;

}
iframe{

}
.flex-item{
    padding: 1rem;
}
h3{
    padding-top: 1rem;
    padding-left: 1rem;
}
body{
    background-color:whitesmoke;
}